<nav ui-nav>
    <ul class="nav">
        <li>
            <div class="b-b b m-t-sm"></div>
        </li>
        <li class="no-bg">
            <form id="logout-form" action="{{ route('logout') }}" method="POST">
                @csrf
                <a href="/logout">
                    <span class="nav-icon">
                        <i class="material-icons">&#xe8ac;</i>
                    </span>
                    <span class="nav-text">Logout</span>
                </a>
            </form>
        </li>
    </ul>
</nav>
