.rounded-m5 {
    border-radius: 20px;
}

.custom-button {
    width: 78px !important;
}

.box-rounded {
    border-radius: 10px;
}

.box-rounded img {
    border-radius: 10px 10px 0px 0px;
}

.box-user {
    width: 187px;
}

.dropdown-more {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdown-toggle:after,
.dropup .dropdown-toggle::after,
.dropright .dropdown-toggle::after,
.dropleft .dropdown-toggle::before {
    display: none;
}

.dropdown-toggle svg.feather[class*="feather-chevron-"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.bd-highlight .input input {
    position: relative;
    width: 200px;
    height: 35px;
    border-radius: 25px;
}

.bd-highlight .input span {
    position: absolute;
    top: 28px;
    right: 30px;
    cursor: pointer;
}
